{% extends 'base.html.twig' %}

{% block body %}
<header>
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    {% include('default/_sidebar.html.twig') %}
{% endif %}
<header>
<main class="d-flex" id="wrapper">
    <div class="container-fluid">
        <div id="page-content-wrapper" class="mx-auto">
        {#            <i class="bi bi-list float-right" id="sidebarToggle"></i>#}
        {% include 'default/_flash_messages.html.twig' %}
            <div class="card bg-light m-2 mx-auto my-5" style="max-width: 70rem;">
                <div class="card-header d-flex align-items-center justify-content-between">
                    <h1>{% block section_title %}{% endblock %}</h1>
                </div>
                <div class="card-body">
                    {% block main %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}