
{% include 'default/_form.html.twig' with {
    page_title: 'title.category_create'|trans,
    form: form,
    submit_label: 'action.save'|trans,
    additional_action:
        <a href="{{ url(avatar_delete, {id: 2}) }}" class="btn btn-link">
            {{ usun }}
        </a>
} %}

