{% include 'default/_form.html.twig' with {
    page_title: 'title.category_edit'|trans({'%id%': user.id|default('')}),
    form: form,
    submit_label: 'action.edit'|trans,
    back_to_list_path: 'tea_index',
    additional_action:
        '<a href="{{ url(avatar_delete, {id: 2}) }}" class="btn btn-link">
            {{ usun }}
        </a>'
} %}
